# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data & Models (如果不想上传大文件)
data/
*.pth
*.ckpt
*.h5

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini